.find-word {
    margin: auto;
    width: 300px;
    padding:30px; 
    color: rgb(245, 0, 0);
}

.button2 {
    background-color: #EA4C89;
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    
    height: 30px;
    
    padding: 6px 10px;
  }
  
  .button2:hover,
  .button2:focus {
    background-color: #F082AC;
  }